.group , .private{
    border: 1px solid #ddd;
    background: #fff;
    padding: 20px;
    text-align: center;
    width: 395px;
    height: 195px;
    background-color: rgb(47, 47, 192);
    color: #fff;
    font-weight: 700;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
text-transform: uppercase;
cursor: pointer;

}
.group:hover{
     background: rgb(23, 151, 72);
}
.group .group__text{
    font-size: 30px;
}
.private:hover{
    background: rgb(23, 151, 72);
}
.private .private__text{
    font-size: 30px;
}